@import url(config/root.css);


.banner{
    height: calc(100vh - 110.38px);
    display: flex;
    
    
    
}



.banner__info{
    color: var(--white);
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 65px;
    
   
}
.title{
    width: auto; 
    display: flex;
    flex-direction: row;   
}
.banner__info h1{
    font-size: 28px;
   
}
.banner h2{
    padding-bottom: 8px;
    font-size: 30px;
}
.banner__info p{
    font-size: 20px;
    
    font-weight: bolder;
}
.underline{
    
    display: flex;
    align-items: flex-end;
    animation: piscar 1.2s infinite;
}
.underline p{
    padding-top: 10px;
    font-size: 40px;
}
 button{
    color: var(--white);
    font-weight: bolder;
    margin-top: 9px;
    width: 108px;
    height: 40px;
    border-radius: .5rem;
    background-color: var(--secondary);
    -webkit-box-shadow: -2px 2px 4px 1px #000000; 
    box-shadow: -2px 2px 4px 1px #000000;
    transition: all .1s ease-in-out;
}
button:hover{
    cursor: pointer;
    width: 107px;
    background-color: var(--secondary-hover);
}



.line{
    width: 50%;
    position: relative;
    border-right: 1px solid var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    transition: all .1s ease-in-out;
}
.typingAnimation{
    animation: blinkCursor 800ms steps(40) infinite normal, typingText 6s steps(40) normal both;
}

@keyframes blinkCursor {
    from{
        border-right-color: var(--white);
    }
    to{
        border-right-color: transparent;
    }
}

@keyframes typingText {
    from{ width: 0;}
    to{ width: 13em;}
}