.services{
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services h2{
    color: var(--primary);
}
.services p {
    color: var(--primary-hover);
}