:root{
    --primary: #488286;
    --primary-hover: #305252;
    --secondary:    #488286;
    --secondary-hover: #305252;
    --background-1: #0a0908;
    --white: rgba(255, 255, 255, .75);
    --text-shadow: 0px 1px 7px rgba(150, 150, 150, 1);
    --text-shadow-hover: 0px 1px 7px rgb(203, 42, 112, 1);
}
html{
    scroll-behavior: smooth;
}
@keyframes moveUpDown {
    0%{ 
        background-position-y: 0rem;
    }
    100%{
        background-position-y: -80rem;
    }
}