
.net-particle{
    width: 50%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas{
    padding-top: 170px;
    display: block;
    width: 90%;
    height: 90%;
   
}