@media (max-width:900px ) {
    .header{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #hamburguer{
            display: none;
        }
        .logo{
           
            font-size: 18px;
            padding-left: 30px;
            font-weight: bolder;
            text-transform: uppercase;
            color: $white-color;
            text-shadow: $text-shadow;
            letter-spacing: .1rem;
        }
        .menu{
            display: flex;
           
        }
    }

}